/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html {
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en los enlaces */
}

body {
  font-size: 16px;
  color: #f8f3fa;
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.055),
      rgba(0, 0, 0, 0.7)
    ),
    /* Luz superior */ linear-gradient(135deg, #151849, #280e58, #2b0d35); /* Fondo principal */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  color-scheme: light dark;
}
